HangryBirds/.vs/HangryBirds/v15/Browse.VC.db
HangryBirds/.vs/HangryBirds/v15/ipch/
HangryBirds/Debug/
HangryBirds/HangryBirds/Debug/
HangryBirds/.vs/
HangryBirds/HangryBirds/Release/
HangryBirds/Release/
